= render 'toppages/header'
.tweet-new
  .tweet-new__box
    -# %h1.tweet-new__box__title 投稿
    = form_for '/' do |f|
      .tweet-new__box__form
        %h3.tweet-new__box__form__image-title 画像投稿
        .tweet-new__box__form__imag-field
          = f.label :image do
            = icon('far', 'image', class: 'tweet-new__box__form__imag-field__icon')
            = f.file_field :image, class: 'tweet-new__box__form__imag-field__upload'
        .tweet-new__box__form__field
          %h3.tweet-new__box__form__field__shop-name お店の名前
          = f.text_field :text, class: 'tweet-new__box__form__field__text-field',placeholder: '例) パティスリーウー'
        .tweet-new__box__form__field
          %h3.tweet-new__box__form__field__address お店の場所
          = f.text_field :text, class: 'tweet-new__box__form__field__text-field',placeholder: '例) 渋谷'
        .tweet-new__box__form__btn
          = f.submit '投稿', class: 'tweet-new__box__form__btn__submit'
= render 'toppages/footer'