.newtopic
  .newtopicHead
    = link_to tweets_path, class: 'newtopicHead__link' do
      %h1.newtopicHead__title
        新着お店情報
  .newtopicBox
    .newtopicBox__lists
      - @tweets.each do |tweet|
        = link_to tweet_show_path(:id), class: 'newtopicBox__lists__link' do
          .newtopicBox__lists__img
            = image_tag tweet.image.url, class: 'newtopicBox__lists__img__imgs'
          .newtopicBox__lists__body
            %h1.newtopicBox__lists__body__shopname
              = tweet.shop_name
            %h1.newtopicBox__lists__body__address
            = tweet.address
  -# = paginate(@tweets)