.newtopic
  .newtopicHead
    = link_to '#', class: 'newtopicHead__link' do
      %h1.newtopicHead__title
        新着お店情報
  .newtopicBox
    .newtopicBox__lists
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所
  .newtopicBox
    .newtopicBox__lists
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所
      = link_to '#', class: 'newtopicBox__lists__link' do
        .newtopicBox__lists__img
          = image_tag 'IMG_8581.JPG',class: 'newtopicBox__lists__img__imgs'
        .newtopicBox__lists__body
          %h1.newtopicBox__lists__body__shopname
            店舗名
          %h1.newtopicBox__lists__body__address
            住　所

